html,
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main {
  width: 100%;
  height: 100%
}

.title_section {
  padding: 0;
  margin: 0;
  font-size: 3rem;
  color: #6377e4;
}

.description_section {
  max-width: 350px;
  color: #8779F5;
}

.section {
  justify-content: center;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #ffffff;
  padding: 2rem;
}

.section_emoji {
  font-size: 150px;
  display: none;
}

.section_emoji h1 {
  padding: 0;
  margin: 0;
  position: relative;
  bottom: 30px;
}

.section_image {
  display: none;
  width: 350px;
  height: 350px;
}

.section_image_img {
  max-width: 100%;
}

.section_body {
  margin: 100px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section_reverse {
  flex-direction: row-reverse;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100vh;
  padding: 2rem;
}

.bannerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.bannerImage {
  height: 100%;
  display: none;
  position: relative;
  align-items: center;
}

.bannerImageImg {
  max-width: 100%;
  border: 2px solid #6377e4;
  border-radius: 12px;
  box-shadow:
    3.4px 3.4px 2.7px rgba(0, 0, 0, 0.022),
    8.7px 8.7px 6.9px rgba(0, 0, 0, 0.031),
    17.7px 17.7px 14.2px rgba(0, 0, 0, 0.039),
    36.5px 36.5px 29.2px rgba(0, 0, 0, 0.048),
    100px 100px 80px rgba(0, 0, 0, 0.07)
  ;
}

.bannerImageBg {
  width: 50%;
  aspect-ratio: 1/1;
  display: block;
  border-radius: 50%;
  margin-left: 150px;
  margin-top: 75px;
  position: absolute;
}

.title {
  font-size: 2.0em;
  font-family: 'Red hat Display';
  font-weight: 900;
  margin: 0;
  line-height: 1;
  color: #6377e4;
}

.subtitle {
  font-size: 2.0em;
  font-family: 'Red hat Display';
  font-weight: 400;
  margin: 0;
  line-height: 1;
  color: #6377e4;
}

.description {
  margin-top: 25px;
  line-height: 1.5;
  color: #8779F5;
}

.cta {
  padding: 15px 25px;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid rgba(0,0,0,0);
  cursor: pointer;
  transition: .1s all;
}

.cta:hover {
  background-color: unset;
  color: #ffffff;
  border: 2px solid #ffffff;
}

@media (min-width: 992px) { 
  .section_body {
    margin: 0 100px;
  }

  .bannerImage {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .bannerInfo {
    width: 50%;
  }

  .section_image {
    display: flex;
  }

  .section_emoji {
    display: block;
  }

  .title {
    font-size: 2.5em;
  }

  .subtitle {
    font-size: 2.5em;
  }

  .banner {
    padding: 5rem;
  }

  .howtosection {
    padding: 5rem;
  }

  .whysection {
    padding: 5rem;
  }
}