.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main {
  padding-top: 75px;
  width: 80%;
  height: 100%;
  flex-grow: 1;
  align-self: center;
}

#PrivacyPolice {
  white-space: pre-wrap;
  background-color: #eee;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 16px;
}

.title {
  font-family: 'Red hat Display';
}

@media (min-width: 992px) { 
  .main {
    padding-top: 60px;
    width: 50%;
    height: 100%;
    flex-grow: 1;
    align-self: center;
  }
}